// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#searcher {
    padding: 15px 30px;
    background-image: linear-gradient(to right top, #00d4ff, #89dbff, #c3e4ff, #e9efff, #ffffff);
    border-radius: 10px 10px 0 0;
}


.actions {
  padding: 10px;
  background-image: linear-gradient(to right top, #00d4ff, #89dbff, #c3e4ff, #e9efff, #ffffff);
}
